pydantic
requests
uuid
gTTS
zhon
jieba
azure-cognitiveservices-speech
pymongo
python-dotenv
azure-identity
azure-storage-blob
matplotlib
streamlit
streamlit-elements
streamlit-mic-recorder
werkzeug
faker
bs4
google-cloud-aiplatform
google-cloud-storage
google-cloud-translate
google-cloud-texttospeech
google-cloud-firestore
cryptography
pyyaml
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl